 <!-- form handling -->
 <form action="/api/flight" method="POST" id="add_flight">
    <div class="new_user">
        <div class="form-group">
            <label for="flightno">Flight No.</label>
            <input type="hidden" name="id" value="">
            <input type="text" class="form-control" name="flightNo" value="" placeholder="flight no">
        </div>
        <div class="form-group">
            <label for="airlines">Airlines</label>
            <input type="hidden" name="id" value="">
            <input type="text" class="form-control" name="airlines" value="" placeholder="airlines name">
        </div>
        <div class="form-group">
            <label for="source">Source</label>
            <input type="text" class="form-control" name="source" value="" placeholder="source city">
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" class="form-control" name="destination" value="" placeholder="destination city">
        </div>
        <div class="form-group">
            <label for="durration" >Duration</label>
            <input type="text" class="form-control" name="duration" value="" placeholder="duration - hours : minutes ">
        </div>
        <div class="form-group">
            <label for="departureDate" >Departure Date</label>
            <input type="date" class="form-control" name="departureDate" value="" placeholder="departure">
        </div>
        <div class="form-check">
            <label for="status" >Status</label>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="form-check-label">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="form-check-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </div>
</form>